.image{
height:100%;
object-fill:cover;
filter:brightness(0.6);
}
body{
background-color:#101010 
}
h1,h3,h4,h5,p{
color:white;
text-align:center
}
main{
border:20px solid #010101;
background-color:#101010;
}
#skill{
border:20px solid #010101;
background-color:#101010;
}
h6{
color:white;
text-align:center 
}
#project{
border:20px solid #010101 
}
footer{
border:20px solid #010101;
background-color:#101010 
}
.contact{
color:white;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
}
.contact>i{
width:100%;
text-align:center;
height:5vh;
font-size:35px;
}
a:hover{
text-decoration:none;
color:white;
}
